.homeDocument {
	margin: .5in;
	background-color: white;
	width: 1in;
	height: 1.29in;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
}

.homeDocument div:hover {
	border: black;
}

.homeDocument .doc-title {
	margin: 5%;
	text-align: left;
	text-decoration: none;
	color: black;
}
